<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cégismertető</h2>
                <hr class="light">
                <p class="text-faded">Az EWC-H Kft. célja, hogy tevékenységével segítse ügyfeleit a tisztább környezetért folytatott erőfeszítésükben, mert a komplex módon értelmezett környezetvédelem ma már fontos üzletpolitikai tényező. Cégünk elsősorban élelmiszeripari hulladékok és szennyvíziszapok biztonságos és jogszerű elhelyezésével foglalkozik.</p>
                <a href="#" class="btn btn-default btn-xl">Tovább</a>
            </div>
        </div>
    </div>
</section>
