<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Lépjen velünk kapcsolatba</h2>
                <hr class="primary">
            </div>
         </div>   
   

   <div class="row">
  <div class="col-lg-6">
                <div class="service-box text-center">
                    <i class="fa fa-2x fa-map-marker wow bounceIn text-primary"></i>
                </div>
                <div class="service-box">
                    <p class="text-muted"><strong>Irodánk:</strong> 1061 Budapest Király utca 30-32 „B” lépcsőház 7.emelet</p></br>
                    <p class="text-muted"><strong>Székhely:</strong> 1116 Budapest Temesvár utca 20. 2/220</p></br>
                    <p class="text-muted"><strong>Levelezési cím:</strong> 1398 Budapest PF. 571.</p></br>
                </div>
                <div class="service-box text-center">
                    <i class="fa fa-2x fa fa-compress wow bounceIn text-primary"></i>
                </div>
                <div class="service-box">
                    <p class="text-muted"><strong>Email:</strong> ewc-h(kukac)ewc-h.hu</p></br>
                    <p class="text-muted"><strong>Tel.:</strong>+36-1-878-0501 Fax: +36-1-878-0502</p></br>
                    <p class="text-muted"><strong>Parkolási lehetőség:</strong> 1061 Budapest Székely Mihály utca EZ pakolóház.</p></br>
                </div>
    </div>



  

  
  <div class="col-lg-6">
    <iframe style="border: 0px; pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.484615630205!2d19.057183215837618!3d47.49995270333199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc69870ba725%3A0x989b01e9228cae94!2sBudapest%2C+Kir%C3%A1ly+u.+30%2C+1061!5e0!3m2!1sen!2shu!4v1509461053842" width="700" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe> 
  </div>
</div>
</div>

       
</div>


            <!--
            <div class="col-lg-2">  
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
            </div>-->
        </div>
    </div>
</section>
