<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Szolgáltatásaink</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary"></i>
                    <h3>Szennyvíziszap hasznosítása</h3>
                    <p class="text-muted">Szennyvíztisztító telepeken keletkező víztelenített szennyvíziszap átvétele, szállítása, hasznosítása.</p>

                    <!-- Trigger the modal with a button -->
                    <div class="modal-btn">
                    <button type="button" class="btn btn-primary btn-sm page-scroll wow bounceIn" data-toggle="modal" data-target="#Modal1">Tovább</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trash wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Élelmiszeripari melléktermékek</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <!-- Trigger the modal with a button -->
                    <div class="modal-btn">
                    <button type="button" class="btn btn-primary btn-sm page-scroll wow bounceIn" data-toggle="modal" data-target="#Modal2">Tovább</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-recycle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Komposztálási és szárítási megoldások</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <!-- Trigger the modal with a button -->
                    <div class="modal-btn">
                    <button type="button" class="btn btn-primary btn-sm page-scroll wow bounceIn" data-toggle="modal" data-target="#Modal3">Tovább</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tervezés, állapotfelmérés</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <!-- Trigger the modal with a button -->
                    <div class="modal-btn">
                    <button type="button" class="btn btn-primary btn-sm page-scroll wow bounceIn" data-toggle="modal" data-target="#Modal4">Tovább</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal 1-->
  <div class="modal fade" id="Modal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h3 class="modal-title">Szennyvíziszap szállítása, hasznosítása</h3>
        </div>
        <div class="modal-body">
          <p><b>Az EWC-H Kft., mint a magyarországi szennyvíziszap kezelés és hasznosítás egyik meghatározó szereplője rendelkezik az szennyvíztisztító telepeken keletkező víztelenített szennyvíziszap átvételéhez, szállításához és hasznosításához szükséges eszközökkel, hasznosítást végző telephelyekkel és erőforrásokkal.</b></p>
          <div class="container-fluid">
            <div class="text-center">
                <img src="img/usage1.jpg" class="rounded" alt="">
            </div>
          </div>          
          <p>A szennyvíziszapot a szerves anyag tartalma és tápanyag tartalma miatt hasznosítható nyersanyagnak tekintjük. Fontosnak tartjuk, hogy a szennyvíziszapban levő tápanyagokat visszaforgassuk, hogy a szennyvíziszapban illetve egyéb hasznosítható hulladékokban rejlő lehetőségeket kiaknázzuk.</p>

          <p>A hasznosításra átvevő hulladékkezelő telephelyeken alkalmazott hasznosítási technológiák biodegradáción (komposztálás) alapulnak, melyek telephelyenként eltérő, valamint speciális előkezelés után energetikai hasznosítási célra optimalizált egyedi technológiai folyamatok.</p>

          <p>Az egyes telephelyek hasznosítási technológiáiból a felhasználás céljának megfelelő minőségű haszonanyag keletkezik, melyet termesztő közeg alapanyagaként, talajjavításra alkalmas komposztként, tájsebek fedésére alkalmas kihelyezhető fedőrétegként használnak fel. Az egyes telephelyeken előállított haszonanyagok felhasználási lehetőségeit a pályázat részeként csatolt hasznosítási engedélyek tartalmazzák.</p>

        </div>
        <h4 class="modal-body">Kiemelt referenciák</h4>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    </div>   
                </div>
            </div>    

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
        </div>
      </div>


      
    </div>
  </div>
   <!-- Modal 2-->
  <div class="modal fade" id="Modal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h3 class="modal-title">Élelmiszeripari melléktermékek</h3>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed nisi ut turpis dictum interdum. Donec eget urna in est placerat aliquet. Praesent aliquet auctor condimentum. Nam sit amet libero elit. Integer finibus dolor efficitur ex fermentum, sit amet pharetra mi iaculis. Donec quis purus quis turpis tempor euismod. Pellentesque lobortis, nibh vel bibendum venenatis, dui justo accumsan mi, in varius enim nunc vitae mi.</p>
        </div>
        <h4 class="modal-body">Kiemelt referenciák</h4>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/10.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/12.jpg" class="img-responsive" alt="">
                    </div>   
                </div>
            </div>    

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
        </div>
      </div>


      
    </div>
  </div> 
  <!-- Modal 3-->
  <div class="modal fade" id="Modal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h3 class="modal-title">Komposztálási és szárítási megoldások</h3>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed nisi ut turpis dictum interdum. Donec eget urna in est placerat aliquet. Praesent aliquet auctor condimentum. Nam sit amet libero elit. Integer finibus dolor efficitur ex fermentum, sit amet pharetra mi iaculis. Donec quis purus quis turpis tempor euismod. Pellentesque lobortis, nibh vel bibendum venenatis, dui justo accumsan mi, in varius enim nunc vitae mi.</p>
        </div>
        <h4 class="modal-body">Kiemelt referenciák</h4>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    </div>   
                </div>
            </div>    

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
        </div>
      </div>


      
    </div>
  </div>  
  <!-- Modal 4-->
  <div class="modal fade" id="Modal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h3 class="modal-title">Tervezés, állapotfelmérés</h3>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed nisi ut turpis dictum interdum. Donec eget urna in est placerat aliquet. Praesent aliquet auctor condimentum. Nam sit amet libero elit. Integer finibus dolor efficitur ex fermentum, sit amet pharetra mi iaculis. Donec quis purus quis turpis tempor euismod. Pellentesque lobortis, nibh vel bibendum venenatis, dui justo accumsan mi, in varius enim nunc vitae mi.</p>
        </div>
        <h4 class="modal-body">Kiemelt referenciák</h4>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    </div> 
                    <div class="col-lg-4 col-sm-6">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    </div>   
                </div>
            </div>    

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
        </div>
      </div>


      
    </div>
  </div>    
</div>
</section>
